.homeList{
    height: 100%;
    width: 100%;
   
}
.header{
    display: flex;
    height: 45px;
    align-items: center;
    background-color: #f6f5f6;
    padding: 0 10px;
}
.header :global(.search-box){
position: relative;
top: 0;
}

.header :global(.icon-map){
 color: pink;
 }
 /* 房屋列表样式 */
.houseItems {
    padding: 0 15px;
  }
   /* loading样式 */
.loading {
  line-height: 120px;
  text-align: center;
  height: 110px;
  background-color: #f6f5f6;
}