html,body {
 
 font-family: 'Microsoft YaHei';
background-color: #fff;
color: #333;
}
*{
  box-sizing: border-box;
  /* 取消浏览器默认手势行为 启用单指水平平移手势 */
  touch-action: pan-x;
}
#root,.App,body,html{
  width: 100%;
  height: 100%;
}
p{
  margin: 0;
}